<div *ngIf="basketItems; else empty">
  <table mat-table [dataSource]="basketItems" class="mat-elevation-z1 table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Preces nosaukums</th>
      <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Cena</th>
      <td mat-cell *matCellDef="let element">
        {{ element.product.price | currency: "EUR" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Daudzums</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="input">
          <mat-label>Daudzums</mat-label>
          <input
            matInput
            name="quantity"
            type="number"
            [(ngModel)]="element.quantity"
            (change)="onChangeQuantity(element)"
            min="1"
            [max]="element.stock"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Darbības</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="priceSum">
      <th mat-header-cell *matHeaderCellDef>Cena kopā</th>
      <td mat-cell *matCellDef="let element">
        {{ element.product.price * element.quantity | currency: "EUR" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <h1 class="sum">Summa kopā: {{ getSum() }}</h1>
  <p class="sum" *ngIf="getSum() < 0.5">
    *Minimālajai summa jābūt vismaz 50 centiem.
  </p>
</div>
<ng-template #empty
  ><h2 style="text-align: center;">Grozs ir tukšs</h2></ng-template
>
