@import "../../../sass/main.scss";

.footer {
  position: sticky;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 1rem;
  bottom: 0;
  width: 100%;
  height: $height-footer;
  background-color: $color-light;
  font-size: 16px;

  @include respond(phone) {
    height: $height-footer-mobile;
    grid-template-columns: 1fr;
    padding: 0;
  }

  &__social {
    margin-top: 8px;
    display: inline-block;
    text-align: center;
    a {
      text-decoration: none;
      color: none;
    }
  }
  &__icon {
    width: 20px;
    margin: 0 5px;
    vertical-align: middle;
  }
  &__author {
    justify-self: end;
    align-self: end;
    padding: 0 1rem;
    font-size: 14px;
    @include respond(phone) {
      justify-self: center;
      align-self: center;
    }
  }
}
