<div class="footer">
  <div class="footer__left"></div>
  <div class="footer__social">
    2020 &copy;
    <a href="https://www.facebook.com/martinaballite/"
      ><img src="assets/facebook.png" class="footer__icon"
    /></a>
    <a href="https://instagram.com/martinaballite?igshid=hq1fvc2yvj5x"
      ><img src="assets/instagram.png" class="footer__icon"
    /></a>
    @martinaballite
  </div>
  <div class="footer__author">Web: bandenieks.juris@gmail.com</div>
</div>
