@import "../../sass/main.scss";

.login {
  width: 30%;
  margin: 0 auto;
  @include respond(phone) {
    width: 90%;
    margin: 0 auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__input {
    width: 60%;
  }
  &__submit {
    width: 100%;
  }
}
