<mat-card class="login">
  <form (submit)="onSubmit()" [formGroup]="loginData">
    <mat-card-header>
      Login
    </mat-card-header>
    <mat-card-content class="login__form">
      <mat-form-field class="login__input">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Your email"
          formControlName="email"
        />
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field class="login__input">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Your password"
          formControlName="password"
        />
        <mat-error>Invalid password.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        class="login__submit"
        type="submit"
      >
        Login
      </button>
    </mat-card-actions>
  </form>
</mat-card>
