<div class="edit-product">
  <mat-form-field>
    <mat-label>Nosaukums</mat-label>
    <input matInput [(ngModel)]="product.name" name="name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kategorija</mat-label>
    <input matInput [(ngModel)]="product.category" name="category" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tips</mat-label>
    <input matInput [(ngModel)]="product.type" name="type" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cena</mat-label>
    <input
      matInput
      [(ngModel)]="product.price"
      name="price"
      required
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Daudzums</mat-label>
    <input
      matInput
      [(ngModel)]="product.stock"
      name="stock"
      required
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apraksts</mat-label>
    <input matInput [(ngModel)]="product.description" name="description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bildes URL</mat-label>
    <textarea
      matInput
      [(ngModel)]="product.imgUrl"
      name="imgUrl"
      rows="4"
      maxlength="500"
    ></textarea>
  </mat-form-field>
</div>
