<mat-nav-list>
  <div class="basket">
    <mat-list-item (click)="onClose()"
      ><app-basket-element></app-basket-element
    ></mat-list-item>
    <mat-divider *ngIf="isAuth$ | async"></mat-divider>
  </div>

  <mat-list-item class="categories" (click)="setCategory('')"
    >VISAS PRECES
  </mat-list-item>

  <mat-list-item
    *ngFor="let category of categories$ | async"
    class="categories"
    (click)="setCategory(category.value)"
    >{{ category.value | uppercase }}
  </mat-list-item>

  <mat-list-item *ngIf="isAuth$ | async">
    <a style="cursor: pointer;" (click)="onLogout()"
      ><mat-icon>exit_to_app</mat-icon
      ><span class="nav-caption">Logout</span></a
    >
  </mat-list-item>
</mat-nav-list>
