@import "../../../sass/main.scss";

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

a {
  width: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
}

.types {
  display: flex;
  flex-direction: column;
}

.basket {
  @media (min-width: 600px) {
    display: none;
  }
}
