@import "../../../sass/main.scss";

.header {
  height: $height-header;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $color-white;
  border-bottom: solid $color-grey 1px;
  padding-bottom: 5px;
  margin-bottom: 5rem;

  &__logo {
    position: absolute;
    top: 0.6rem;
    left: 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    background-image: url("../../../assets/logo.png");
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px $color-grey-dark;
    animation: blur-in 1.5s ease-out;

    @include respond(phone) {
      left: 2rem;
    }
  }
  &__navigation {
    padding-right: 2rem;
  }
  &__navigation-mobile {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    z-index: 1000;
  }
  &__navigation-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      cursor: pointer;
    }

    li {
      padding: 0 1rem;
      vertical-align: middle;
    }
  }
}

.basket {
  @include respond(phone) {
    display: none;
  }
}

button {
  text-decoration: none;
  color: $color-grey;
}

button:hover {
  color: $color-grey-dark;
}
