<mat-toolbar class="header">
  <a routerLink="/"><div class="header__logo"></div></a>
  <div></div>
  <div class="header__navigation">
    <ul class="header__navigation-items">
      <li>
        <button mat-icon-button color="primary" (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </li>
      <li class="basket"><app-basket-element></app-basket-element></li>
      <li *ngIf="isAuth$ | async">
        <a mat-icon-button [routerLink]="['/edit']">
          <mat-icon>edit</mat-icon>
        </a>
      </li>
      <li *ngIf="isAuth$ | async">
        <button mat-icon-button>
          <mat-icon (click)="onLogout()">exit_to_app</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
