<mat-horizontal-stepper linear="true" #stepper class="basket mat-elevation-z2">
  <mat-step>
    <ng-template matStepLabel>Grozs</ng-template>
    <div class="step">
      <app-overview></app-overview>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        [disabled]="!basketItemsCheckout"
      >
        Tālāk
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="detailsForm">
    <ng-template matStepLabel>Maksājuma dati</ng-template>
    <div class="step">
      <app-details [detailsForm]="detailsForm"></app-details>
      <div class="actions">
        <button mat-raised-button matStepperPrevious color="accent">
          Atpakaļ
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="!basketItemsCheckout"
          (click)="onValidateForms()"
        >
          Tālāk
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Maksājums</ng-template>
    <div class="step">
      <app-payment></app-payment>
      <mat-spinner *ngIf="isOngoingPayment" class="spinner"></mat-spinner>
      <div class="actions">
        <button
          mat-raised-button
          matStepperPrevious
          color="accent"
          [disabled]="isOngoingPayment"
        >
          Atpakaļ
        </button>
        <button
          mat-raised-button
          (click)="onBuy()"
          color="primary"
          [disabled]="
            isOngoingPayment || !basketItemsCheckout || (getSum() | async) < 0.5
          "
        >
          Maksāt!
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
