@import "../sass/main.scss";

.content {
  flex: 1;
  margin-bottom: $height-footer;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
