.card {
  height: 100%;
  width: 80%;
  margin: 0 auto;

  img {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    overflow-y: hidden;
    height: 3.5rem;
    width: 100%;
  }

  &__input,
  &__navigate {
    width: 100%;
  }
}
