<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle
      >Cena: {{ product.price | currency: "EUR" }}</mat-card-subtitle
    >
    <mat-card-subtitle>Daudzums: {{ product.stock }} gab.</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ product.imgUrl }}"
    alt="Product"
    class="card__image"
  />
  <mat-card-content class="card__content">
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field class="card__input">
      <mat-label>Daudzums</mat-label>
      <input matInput type="number" [formControl]="amount" min="1" />
      <button
        color="primary"
        mat-button
        matSuffix
        (click)="addToBasket(product)"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <mat-error>
        Lūdzu ievadiet korektu daudzumu!
      </mat-error>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
