<div class="admin">
  <h1>Labot, pievienot un dzēst produktus</h1>

  <div class="list">
    <div class="list-item" *ngFor="let product of allProducts; let i = index">
      <app-edit-product [product]="product"></app-edit-product>
      <button
        mat-raised-button
        color="warn"
        (click)="onDelete(product, i)"
        style="width: 100%;"
      >
        <mat-icon>delete</mat-icon>Dzēst
      </button>
    </div>
  </div>

  <div class="actions">
    <button mat-raised-button color="warn" (click)="onCancel()">Atcelt</button>
    <button mat-raised-button color="primary" (click)="onAdd()">
      Pievienot
    </button>
    <button mat-raised-button color="accent" (click)="onSave()">
      Saglabāt
    </button>
  </div>
</div>
