@import "../../sass/main.scss";

.admin {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list-item {
  height: 100%;
  width: 20%;
  margin: 2rem 10px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: $material-box-shadow;
  padding: 1rem;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
