@import "../../sass/main.scss";

.shop {
  width: 70%;
  margin: 0 auto;

  &__products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px 10px;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
}

.mat-divider {
  color: $color-light;
  box-shadow: 3px 3px 5px 6px #ccc;
}
