// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$balloons-martins-primary: mat-palette($mat-purple, 300);
$balloons-martins-accent: mat-palette($mat-light-blue, 300, 100, 500);

// The warn palette is optional (defaults to red).
$balloons-martins-warn: mat-palette($mat-deep-orange, A700);

// Create the theme object (a Sass map containing all of the palettes).
$balloons-martins-theme: mat-light-theme(
  $balloons-martins-primary,
  $balloons-martins-accent,
  $balloons-martins-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($balloons-martins-theme);

/* You can add global styles to this file, and also import other style files */

@import "./sass/main.scss";

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-light;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-justified {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: $color-primary-light;
}
