<form [formGroup]="detailsForm">
  <mat-form-field class="input">
    <mat-label>Vārds</mat-label>
    <input matInput formControlName="name" />
    <mat-error>
      Lūdzu ievadiet vārdu!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Uzvārds</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error>
      Lūdzu ievadiet uzvāŗdu!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Epasts</mat-label>
    <input matInput formControlName="email" />
    <mat-error>
      Lūdzu ievadiet korektu epastu!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Telefons</mat-label>
    <input matInput formControlName="phone" />
    <mat-error>
      Lūdzu ievadiet korektu telefona numuru!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Valsts</mat-label>
    <input matInput formControlName="country" value="Latvija" readonly />
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Pilsēta</mat-label>
    <input matInput formControlName="city" />
    <mat-error>
      Lūdzu ievadiet pilsētu!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Iela</mat-label>
    <input matInput formControlName="street" />
    <mat-error>
      Lūdzu ievadiet ielas nosaukumu!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Mājas/Dzīvokļa numurs</mat-label>
    <input matInput formControlName="streetNumber" />
    <mat-error>
      Lūdzu ievadiet mājas/dzīvokļa numuru!
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Pasta Indeks</mat-label>
    <input matInput formControlName="postIndex" />
    <mat-error>
      Lūdzu ievatiet pasta indeksu!
    </mat-error>
  </mat-form-field>
  <div class="input">
    <mat-checkbox formControlName="confirmation">
      Piekrītu savu datu glabāšanai</mat-checkbox
    >
  </div>
</form>
